@page
@model TodoRazorPages.Pages.Todos.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Todo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Todo.TodoId" />
            <div class="form-group">
                <label asp-for="Todo.Nome" class="control-label"></label>
                <input asp-for="Todo.Nome" class="form-control" />
                <span asp-validation-for="Todo.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Todo.Descricao" class="control-label"></label>
                <input asp-for="Todo.Descricao" class="form-control" />
                <span asp-validation-for="Todo.Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Todo.EstadoTarefa" class="control-label"></label>
                <select asp-for="Todo.EstadoTarefa" class="form-control">
                    <option asp-for="Todo.EstadoTarefa.Do">Do</option>
                    <option asp-for="Todo.EstadoTarefa.Doing">Doing</option>
                    <option asp-for="Todo.EstadoTarefa.Done">Done</option>
                </select>
                <span asp-validation-for="Todo.EstadoTarefa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
